.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.loginconainer{
    height: 50vh;
    width: 50vw;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginfix{
    width: 40%;
    height: 90%;
}